:root {
    --blue: #3ea1db;
    --blue-dark: #574ae8;
    --white: #fff;

    --title: #313131;
    --text: #b6b6b6;

    --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
    --bg: #f3f5f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
}

.container {
    width: min(90vw, 900px);
    margin: auto;
}

header {
    width: 100%;
    background: var(--linear);
    padding: 2.7rem 0;
    margin-bottom: 5rem;
}

header .title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

header .title-header a {
    color: var(--white);
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

header .title-header h1 {
    color: var(--white);
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

.box-search {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
}

.box-search input {
    width: 100%;
    height: 100%;
    color: var(--white);
    font-family: "Inter", sans-serif;
    opacity: 0.5;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.box-search input::placeholder {
    color: var(--white);
    opacity: 0.5;
}

.box-search img {
    min-width: 30px;
    height: 30px;
}

.box-notice {
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    margin-top: 2rem;
}

.box-notice .header-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3rem;
}

.box-notice .header-news .news-date {
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--text);
}

.box-notice .news-title {
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: var(--title);
    margin-bottom: 0.8rem;
}

.box-notice .news-content {
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: var(--text);
}

main {
    padding-bottom: 5rem;
}

@media screen and (max-width: 425px) {
    header {
        margin-bottom: 3rem;
    }

    main {
        padding-bottom: 3rem;
    }

    header .title-header a,
    header .title-header h1 {
        font-size: 18px;
        line-height: 22px;
    }

    .box-search input {
        font-size: 14px;
        line-height: 17px;
    }

    .box-search img {
        min-width: 20px;
        height: 20px;
    }

    .box-notice .header-news .news-date {
        font-size: 14px;
        line-height: 17px;
    }

    .box-notice .news-title {
        font-size: 18px;
        line-height: 22px;
    }

    .box-notice .news-content {
        font-size: 14px;
        line-height: 26px;
    }
}
